/* Content */
#content {
	grid-area: content;
	margin-top: 10px;
	margin-left: 2rem;
}

#content h3 {
	margin: 10px 0 25px 7px;
}


#content .create-button {
	background-color: #1973D1;	
	color: white;
	border: none;
	border-radius: 40px;
	padding: 8px;
	width: 80px;
	outline: none;
	transition: all 0.3s ease;
	margin-bottom: 50px;
}


#content .create-button:hover {
	cursor: pointer;	 	
	box-shadow: 0 0 5px #000;
} 

#content .button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid black;
}

#content #table,
#content #table td{
	border: 2px solid #eee;
	border-collapse: collapse;
	padding: 5px;
	text-align: center;
}

#content #table {
	width: 95%;
	background-color: white;
}

#content #table td:last-child {
	width: 250px;
}

#content #table thead th:hover, 
#content #table thead tr:hover {
	pointer-events: none;
}

#content #table th {
	border: 2px solid #eee;
	background-color: #003366;
	padding: 5px;
	color: white;
}



#content #table td div {
	display: inline-block;
	font-size: 0.9rem;
}

#content #table td .update-icon {
	background-color: #2ECC71;	
	color: white;
	border: none;
	width: 80px;
	outline: none;
	padding: 5px;
	margin-right: 10px;
	transition: all 0.3s ease;
}

#content #table td .delete-icon {
	background-color: #C71436;	
	color: white;
	border: none;
	width: 80px;
	outline: none;
	padding: 5px;
	transition: all 0.3s ease;
}

#content #table td div:hover {
	cursor: pointer;
	opacity: 0.5;
}

#content #message {
	background-color: #DFF2BF;
	color: #4F8A10;
	padding: 15px;
	width: 25%;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
}

