{% extends "product_create.html" %}
{% load static %}

{% block csslink %}
    	 <link rel="stylesheet" href="{% static 'change_password/styles.css' %}">
{% endblock csslink %}

{% block content %}
    <div id="content">
			<h3>{{menu_name}}</h3>
			<form id="form" method="POST">
				{% csrf_token %}
					<div class="input new-password1">
						<label for="id_new_password1">New Password :</label>
						{{form.new_password1}}
						<i class="fa fa-eye fa-fw" aria-hidden='true'></i>
					</div>

					<div class="input new-password2">
						<label for="id_new_password2">Confirm New Password :</label>
						{{form.new_password2}}
						<i class="fa fa-eye fw" aria-hidden='true'></i>
					</div>

					{% for field in form %}
		    			{% for error in field.errors %}
		    				<p class="error">{{error}}</p>
		    			{% endfor %}
					{% endfor %}

					<br>

			
				<button type="submit"  onclick="return confirm('Do you want to save ?')" class=' button {{button_class1}} '>
					Save
				</button>

				<button type="button" onclick='window.location.href="{% url "input" %}"' class=' button {{button_class2}} '>
					Cancel
				</button>	

			</form>

		</div>
 		<script>
	    	

		// Eye (Show Password)
		var eye = document.querySelectorAll('i.fa-eye');
		var input_password1 = document.getElementById('id_new_password1');
		var input_password2 = document.getElementById('id_new_password2');


		eye[0].addEventListener('click', function() {
				if (input_password1.type == 'password') {
						eye[0].setAttribute('class', 'fa fa-eye-slash fa-fw');
						input_password1.type = 'text';
				} else {
					eye[0].setAttribute('class', 'fa fa-eye fa-fwfw');	
					input_password1.type = 'password';
				}
		});



		eye[1].addEventListener('click', function() {
				if (input_password2.type == 'password') {
						eye[1].setAttribute('class', 'fa fa-eye-slash fa-fw');
						input_password2.type = 'text';
				} else {
					eye[1].setAttribute('class', 'fa fa-eye fa-fw');	
					input_password2.type = 'password';
				}
		});

	    </script>
{% endblock content %}