{% extends "setting.html" %}
{% load static %}

{% block page_title %}
    {{page_title}}
{% endblock page_title %}


{% block csslink %}
    <link rel="stylesheet" href="{% static 'warehouse/create_warehouse_styles.css' %}">
{% endblock csslink %}

{% block content %}
    <div id="content">
    		<form id="form" method='POST'>
					{% csrf_token %}
					<div class="input warehouse-name">
						{{form.warehouse_name.label_tag}}
						{{form.warehouse_name}}
					</div>

					<div class="input location">
						{{form.location.label_tag}}
						{{form.location}}
					</div>

				    {% for field in form %}
		    			{% for error in field.errors %}
		    				<p class="error">{{error}}</p>
		    			{% endfor %}
					{% endfor %}

					<br>
					
				<button type="submit" onclick="return confirm('Do you want to save ?')" class=' button {{button_class1}} '>
					Save
				</button>

				<button type="button" onclick="window.location.href='{% url 'setting_warehouse' %}'" class=' button {{button_class2}} '>
					Cancel
				</button>	
				
			</form>


    </div>
{% endblock content %}