{% extends "reset password/password_reset_form.html" %}
{% load static %}

{% block csslink %}
	<link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'reset_password/password_reset_complete_styles.css' %}">
{% endblock csslink %}

{% block content %}
	{% if validlink %}
		<div class="container">
			<form id="form" method="POST">
			{% csrf_token %}
			    <h1>Change Password</h1>
				<div class="input-group">	
					{{form.new_password1}}
					<label for="id_new_password1">New Password</label>
					<i class="fa fa-eye" aria-hidden='true'></i>
				</div>

				<div class="input-group">
					{{form.new_password2}}
					<label for="id_new_password2">Confirm New Password</label>
					<i class="fa fa-eye" aria-hidden='true'></i>
				</div>
				
				{% for field in form %}
		    			{% for error in field.errors %}
		    				<p class="error">{{error}}</p>
		    			{% endfor %}
				{% endfor %}

				<div class="button-group">	
					<button type="submit">Save</button>
					<button type="button" onclick="window.location.href='{% url 'login_user' %}'">Cancel</button>
				</div>
			</form>
		</div>
		{% else %}
		<div class="container2">
			 <h1>
		    	 The Password Reset Link Was Invalid
		    </h1>
		    <p>
		    	The password reset link was invalid, possibly because it has already been used.
		    </p>
		    <p>
		    	Please request a new password reset.
		    </p>
		</div>
		{% endif %}
	    <script>
	    	

		// Eye (Show Password)
		var eye = document.querySelectorAll('i.fa-eye');
		var input_password1 = document.getElementById('id_new_password1');
		var input_password2 = document.getElementById('id_new_password2');


		eye[0].addEventListener('click', function() {
				if (input_password1.type == 'password') {
						eye[0].setAttribute('class', 'fa fa-eye-slash');
						eye[0].style.position = 'absolute';
						eye[0].style.right = '21%';
						input_password1.type = 'text';
				} else {
					eye[0].setAttribute('class', 'fa fa-eye');	
					input_password1.type = 'password';
				}
		});



		eye[1].addEventListener('click', function() {
				if (input_password2.type == 'password') {
						eye[1].setAttribute('class', 'fa fa-eye-slash');
						eye[1].style.position = 'absolute';
						eye[1].style.right = '21%';
						input_password2.type = 'text';
				} else {
					eye[1].setAttribute('class', 'fa fa-eye');	
					input_password2.type = 'password';
				}
		});

	    </script>
{% endblock %}							