{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Reset Password{% endblock %}</title>
	{% block csslink %}
	    <link rel="stylesheet" href="{% static 'reset_password/reset_form_styles.css' %}">
	{% endblock csslink %}
</head>
<body>
{% block content %}
	
	<form id="form" method="POST">
			{% csrf_token %}

		{% block input %}
		    <h1>Input Your Verification Email</h1>
			<div class="input-group">	
				{{ form.email }}
				<label for="id_email">Email</label>
			</div>
				
			<div class="button-group">	
				<button type="submit">Send Email</button>
				<button type="button" onclick="window.location.href='{% url 'login_user' %}'">Cancel</button>
			</div>
		{% endblock input %}
		
	</form>
{% endblock %}																	
</body>
</html>
