{% extends "reset password/password_reset_form.html" %}
{% load static %}

{% block csslink %}
    <link rel="stylesheet" href="{% static 'reset_password/password_reset_done_styles.css' %}">
{% endblock csslink %}

{% block content %}
		<div class="container">	
			{% block notice %}
				<h1>Your Request Has Been Sent</h1>
			{% endblock notice %}
				<button type="button" onclick="window.location.href='{% url 'login_user' %}' ">
					Back To Login Page
				</button>
		</div>	    
{% endblock content %}